<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Trips</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/b
</head>
<body>
    <img th:src="@{/images/logo.png}" width="136" height="136" >
    <h1>Trips en El Salvador</h1>
    <table class="table table-hover" >
    <tr>
        <td>Foto</td>
        <td>id</td>
        <td>nombre</td>
        <td>Fecha publicacion</td>
        <td>Costo</td>
        <td>Descripcion</td>
        <td>Destacado</td>
    </tr>
    <tr th:each="trip : ${trips}">
        <td>
            <img th:src="@{/images/{img} (img=${trip.imagen})}" width="100" height="100" >
        </td>
        <td th:text="${trip.id}" ></td>
        <td th:text="${trip.nombre}" ></td>
        <td th:text="${trip.fecha}" ></td>
        <td th:text="${trip.costo}" ></td>
        <td th:text="${trip.descripcion}" ></td>
        <!-- <td th:text="${trip.destacado == 1? 'Si' : 'No' }"></td> -->
        <td>
            <span th:if="${trip.destacado == 1}" class="badge bg-success" >si</span>
            <span th:unless="${trip.destacado == 1}" class="badge bg-danger" >No</span>
        </td>
    </tr>
 </table>	
		<a th:href="@{/trips/viw/{id} {id=${trip.id}} }" class="btn btn-success">Detalle</a>
    </td>
    <td>
    	<a th:href="@{/trips/viw/{id} {id=${trip.id}} }" class="btn btn-success">Eliminar</a>
      </td>
    </tr>
</table>

